<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="API">
            <directory>./tests/</directory>
            <exclude>./tests/AuthTest.php</exclude>
            <exclude>./tests/bootstrap.php</exclude>
            <exclude>./tests/run.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>